body {
    font-family: Roboto, Helvetica, sans-serif;
    color: #556;
    /*display: flex;*/
    justify-content: space-between;
}

#admin {
    margin-top: 35px auto auto;
    padding-top: 50px;
}

button {
    background-color: crimson;
    color: lightgrey;
    font-size: .9em;
}

form {
    border-radius: 5px;
    background-color: #eef;
    padding: 20px;  
/*    visibility: hidden; */
    display: none;
}

.labels {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.input   {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}

input {
        
}

.cat-pic {
    display: block;
    width: auto;
}

.cat-box {
    display: none;
}

.cat-name {
    color: inherit;
}

.sidebar {
    width: 125px;
    z-index: 1;
    left: 0;
    height: auto;
    position: fixed;
    overflow-x: hidden;
    padding: 0 10 0;
}

#navigation {
    background-color: #EEF;
    color: crimson;
    font-size: 14px;
    font-weight: bold;
}

#navigation a {
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}

li {
    margin: auto 0;
    padding: 0;
    list-style-type: none;
}

.panel {
    background-color: lightgrey;
    color: crimson;
    width: 100%;
    display: hidden;
}

#clickZone {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}

.reward {
    width: auto;
    padding-top: auto;
    border-radius: 50%;
    background-color: crimson;
    position: inline;
 /*   left: 70vw;
    bottom: 10vw; */
    display: inline;
    font-size: 3em;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: inherit;
    font-size: 40px;
}

div {
    display: block;
}

ul {
    padding-bottom: 25px;
    display: block;
    padding: 10px 10px 0;
    margin: auto;
}